main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quadro{
    width: 600px;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    
}
.quadro p{
    color:rgb(2, 2, 105);
    font-size: 11px;
    line-height: 2.0;
    font-family: sans-serif;
    
}